@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #232323;
    height: 100vh;
    background-position-x: 40vw;
    color: white;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    overflow: hidden;
}

header h1 {
    width: 170px;
    height: 90px;
    margin: 50px 10px 10px 105px;
    font-weight: 100;
    font-size: 2.5em;
}

header nav {
    top: 20px;
    margin-right: 50px;
    display: flex;
    transition: 1s;
    position: relative;
}

header ul {
    display: flex;
    list-style-type: none;

}
header li {
    margin: 40px 0px;
    padding: 10px;
    transition: .7s;
    border-radius: 10px;
}

header a {
    color: white;
    text-decoration: none;
    width: 100%;
    font-size: 1.2em;

    padding: 10px;
    border-radius: 10px;
}
header li:hover {
    background-color: lightgray;
    a {
        color: black;
        transition: .7s;
    }
}

.purple {
    border: 1px solid blueviolet;
}

article {
    display: flex;
    justify-content: space-between;
}

article h1 {
    font-size: 3em;
    width: 400px;
    color: blueviolet;
    margin: 100px 100px 0px 100px;
    line-height: 50px;
} 
article h1 span {
    color: white;
}
article p {
    width: 400px;
    margin: 30px 100px 100px 100px;
}

form input {
    display: block;
    margin: 20px 100px;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
    outline: none
    
}

input[type=submit], input[type=submit]::placeholder {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

div.img {
    margin-top: 60px;
    margin-right: 80px;
}
header div {
    display: none;
}
i#icon {
    display: none;
    width: 0px;
    cursor: pointer;
    transition: 1s;
}

@media (max-width: 1289px) {
    header {
        width: 100%;
        display: block;
    }
    header h1 {
        margin-left: 8%;
    }
    header nav {
        display: none;
        margin-top: 140px;
        max-width: calc(615px - 15px);
        position: relative;
        right: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-bottom: 15px;
    }
    header nav ul {
        flex-flow: column wrap;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    header nav ul li {
        background-color: rgb(61, 61, 61);
        width: 100%;
        margin: 0px 0px 10px 0px;
        padding: 0px;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    header nav ul li a {
        display: block;
        width: calc(100%);
        padding: 15px;
        text-align: center;
    }
    header div {
        display: block;
    }
    i#icon {
        display: block;
        font-size: 4em;
        height: 64px;
        position: absolute;
        margin-left: 85%;
        top: 60px;
    }
    div.img{
        display: none;
    }
    article {
        width: 100%;
        
    }
    article h1 {
        margin-left: 8%;
    }
    article p {
        margin-left: 8%;
    }
    article form input {
        margin-left: 8%;
    }
    div.content {
        width: 100%;
    }
}
@media (min-width: 1290px) {
    nav {
        display: block !important;
    }
    header a.purple {
    border: 1px solid rgb(163, 3, 255);
}
}