@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000000dc url(77d0a7c454e658833800528e748edbe9.png) no-repeat center fixed;

    height: 100vh;
    background-position-x: 40vw;
    color: white;
}

header {
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header h1 {
    width: 50px;
    margin: 50px 10px 10px 150px;
    font-weight: 100;
    font-size: 2.5em;
}

header nav {
    margin-right: 100px;
}

header ul {
    display: flex;
    list-style-type: none;

}
header li {
    margin: 40px 0px;
    padding: 10px;
    
}

header a {
    color: white;
    text-decoration: none;
    width: 100%;
    font-size: 1.2em;

    padding: 10px;
    border-radius: 10px;
}
header a:hover {
    background-color: lightgray;
    color: black;
}
header a.purple {
    border: 1px solid rgb(163, 3, 255);
}

article h1 {
    font-size: 3em;
    width: 400px;
    color: blueviolet;
    margin: 100px 100px 0px 200px;
    line-height: 50px;
} 
article h1 span {
    color: white;
}
article p {
    width: 400px;
    margin: 30px 100px 100px 200px;
}

form input {
    display: block;
    margin: 20px 200px;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
    border: none
}

input[type=submit], input[type=submit]::placeholder {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
}